.socialBlock {
  margin-top: auto;
  margin-bottom: 2rem;
}
.socialList {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3rem;
  gap: 0.5rem;
  justify-content: space-evenly;
}

.socialIcon {
  width: 3rem;
  height: 3rem;
  transition: all .2s ease-in-out;
}

.header {
  font-size: 2rem;
}

.socialIcon:hover {
  color: #2795e9;
  transform: scale(1.1);
}
